API_ID=12345678
API_HASH=your_api_hash
MASTER_ACCOUNT_ID=123456789
RELAY_API_ID=12345678
RELAY_API_HASH=your_api_hash
RELAY_BOT_TOKEN=123456:ABCDEF_your_bot_token
RELAY_DEST_CHANNELS=-1009876543210
RELAY_MASTER_ACCOUNT_ID=0
